
@import '../../../../scss/helsinki/colors';
@import '../../../../scss/helsinki/custom-styles';

.koro-example .koro-content{
      color: white;
      background: $hel-bus;
      padding: 20px 15px;
      h3 {
            color: white;
      }
}

.koro-example:before {
      height: 40px;
      content: '';
      display: block;
      @include koro("beat", $hel-bus, 300);
}