.section-jumbo--design {
    height: 100%;
    width: 100%;
    background: #13D7A8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#13D7A8, #0072C6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#13D7A8, #0775C6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#13D7A8, #0775C6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#13D7A8, #0775C6);/* Standard syntax */
    borderBottom: solid #343434 1px;
    marginBottom: 20;
}

.sketch-thumbnail {
      position: relative;
      padding: 1em 1em 1em;
      border: 2px solid rgba(52, 52, 52, 0.1);
      background-color: rgba(52, 52, 52, 0.0);
      margin-top: 50;
      margin-bottom: 50;
}

.sketch-thumbnail:hover {
      cursor: pointer;
      background-color: rgba(52, 52, 52, 0.06);
}
