

.media-img {
      max-width: 50%;
}

.footer-text {
      color: #fff;
}



.footer-thumbnail {
      position: relative;
      padding: 1em 1em 1em;
      background-color: rgba(52, 52, 52, 0.0);
      color: #fff;
}
a[href] .footer-thumbnail:hover {
      cursor: pointer;

      background: #575757;
      
}