.code-section {
      position: relative;
}

.code-copy {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 2;
      padding: 0.3rem 0.7rem !important;
      opacity: 0.7;

      &:hover {
            opacity: 1;
      }
}



.code-container {
      position: relative;
      max-height: 5000px;
      transition: max-height 500ms cubic-bezier(0.860, 0.000, 1.000, 0.710); /* custom */
      overflow: hidden;
      margin-bottom: 15px;
      border: 2px solid #dee2e6;
      &--closed {
            max-height: 200px;
      }
      pre {
            margin: 0;
            padding: 1.5rem 1rem;
      }
}

.tab-pane .code-container {
      border-top: none;
}

.code-showmore {
      height: 73px;
      background-image: linear-gradient(180deg, transparent, rgba(255,255,255,0.7));
      margin: -90px 2px 0;
      position: relative;
      text-align: center;
      padding: 10px;
      &--closed {
            display: none;
      }
}

